<!-- <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>てんぷれーとだよ</title>
</head>
<body>
    <h1>テンプレートだよ</h1>

    {% for i in number %}
        <li>{{ i }}</li>
    {% endfor %}


    <h1>spotify login</h1>

    <a href="{% url "social:begin" "spotify" %}">Spotify</a><a href=""></a>
</body>
</html> -->


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    <h1>spotify login login.html</h1>

    {% if user.is_authenticated %}
        <p>ログイン済み</p>
    {% else %}
        <p>ログアウトしてます</p>

    {% endif %} 
    <p><a href="{% url 'social:begin' 'spotify' %}">spotify login</a></p>
    <p><a href="{% url 'logout' %}">Log out</a></p>

    {% if user.is_authenticated %}
    <h1>ユーザー情報</h1>
    <p><a href="{{ user_url }}", target="_blank">{{ user_name }}</a></p>
    <p><img src="{{ user_image }}" alt=""></p>
    {% endif %} 

</body>
</html>