/* 全体のフォント設定 */
* {font-family: 'Zen Kaku Gothic New', sans-serif;}

/* カラーバリエーション */
:root {
  --bg-primary-color: #121212;
  --bg-secondary-color: #242424;
  --bg-tertiary-color: #1A1A1A;
  --primary-color: #00FF5C;
  --txt-color: #fff;
  --txt-secondary-color: #A7A7A7;
  --standby-color: #AFAFAF;
}
h1,h2,h3,h4,p,div{color: var(--txt-color);}

/* ヘッダー */
header {
  position: fixed;
  width: 250px;
  height: 100%;
  min-width: 250px;
  margin-left: 16px;
  background-color: var(--bg-secondary-color);
  top: 0;
  /* 画面上端に固定 */
  z-index: 1000;
  /* ヘッダーを他の要素よりも手前に表示するための z-index */
}

/* 画像スタイル */
img {
  max-width: 100%;
  /* 幅が100%になるように変更 */
  height: auto;
  /* アスペクト比を維持しながら自動的に高さを設定 */
}

/* メインコンテナ */
main {
  width: calc(100% - 250px);
  /* ヘッダーの幅を考慮して main の幅を調整 */
  min-width: 600px;
  margin-left: 266px;
  /* ヘッダーの幅 + マージンを合わせた値 */
  background-color: var(--bg-primary-color);
}

/* ボディコンテナ */
.body-wrap {
  width: 100%;
  background-color: var(--bg-primary-color);
}

/* ナビゲーションバックグラウンド */
.nav__background {
  background-color: var(--bg-primary-color);
  margin: 10px;
  border-radius: 10px;
  & li a {
      display: flex;
      color: var(--txt-color);
  }
  & li img {
      width: 30px;
      margin: 10px;
  }
  & li {
      vertical-align: middle;
  }
  & p {
      height: 50px;
      line-height: 50px;
      font-weight: bold;
  }
  & .nav__now p {
    color: var(--primary-color);
  }
}

/* トップナビゲーション */
.nav__top a {
  padding-left: 45px;
}
/* ボトムナビゲーション */
.nav__bottom {
  background-color: var(--bg-tertiary-color);
  & a {
      padding-left: 30px;
  }
}

.nav__diagnosis {
  display: flex;
  padding-left: 30px;
  background-color: var(--bg-tertiary-color);
  border-radius: 10px 10px 0 0;
  
  & h2 {
      height: 60px;
      line-height: 60px;
      color: var(--primary-color);
  }
  
  & img {
      width: 40px;
      margin: 10px;
  }
}
.header__logo {
  width: 200px;
  margin: 30px auto 30px auto;
}
.header__icon {
  width: 50px;
  margin-left: auto;
  margin-right: 30px;
  & img{
    border-radius: 50%;
  }
}
.main__header {
  width: 100%;
  margin-top: 10px;
  background-color: var(--bg-primary-color);
}

.main__title {
  background-color: var(--bg-secondary-color);
  margin: 5%;
  padding: 75px;
  border-radius: 30px;
  text-align: center;
}

a:hover,button:hover{
  opacity: 50%;
}

.responsive__logo{
  display: none;
}

/* ハンバーガーメニュー用のスタイル */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.5s ease;
}



/* その他のスタイルはそのまま */

/* main.css */

.nav-active{
  transform: translateX(0%) !important;
}

@media only screen and (max-width: 768px) {
  /* スマートフォンの場合のみ適用されるスタイル */
  header {
    position: fixed;
    left: 0;
    background-color: var(--bg-secondary-color);
    height: 100vh;
    width: 50%;
    transform: translateX(-110%);
    z-index: 0;
    margin-left: 0;
  }

  main {
    width: 100%;
    min-width: auto;
    margin-left: 0;
  }
  header{
    margin-left: 0;
  }
  .header__logo{
    display: none;
  }
  .nav-links{
    margin-top: 25%;
  }
  .burger {
    top: 2%;
    left: 3%;
    display: block;
    position: fixed;
    z-index: 100;
  }

  .main__header{
    width: auto;
  }
  .responsive__logo {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
  }
  .responsive__img{
    height: 100%;
  }
  .main__title{
    margin-top: 3%;
    padding: 5%;
    border-radius: 10px;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}