.status__title{background-color: #2589d0;}
.status__title h2{padding: 20px;}

.status__playlist{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}