/* カラーバリエーション */
:root {
  --bg-primary-color: #121212;
  --bg-secondary-color: #242424;
  --bg-tertiary-color: #1A1A1A;
  --primary-color: #00FF5C;
  --txt-color: #fff;
}

.status__title{background-color: #2589d0;}
.status__title h2{padding: 20px;}

.status__playlist{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}
.chart__wrap{
  /* background-color: var(--bg-tertiary-color); */
  background-color: #fff;
  width: 500px;
  height: 500px;
}

/* #myRadarChart{
  background-color: #fff;
} */
