.title__box{
    background-color: var(--bg-secondary-color);
    height: 150px;
    margin: 50px 20px 0 20px;
    border-radius: 30px;

    & h1{
        text-align: center;
        line-height: 140px;
    }
}

.helptext_box{
    background-color: var(--standby-color);
    padding: 30px 60px 50px 60px;
    border-radius: 30px;
    margin: 2% 5%;
    & h2{
        margin-bottom: 60px;
        color: black;
    }
    & p{
        margin-bottom: 30px;
        color: black;
    }

    .answer{
        margin-left: 1em;
    }
}

