.title__box{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  border-radius: 30px;
  & h1{
      text-align: center;
      line-height: 140px;
  }

}

.playlist{
  background-color: var(--bg-secondary-color);
  height: calc(auto + 100px);
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;

  & ul {
    height: 320px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2vh;
    
    
  
    & li {
      width: 200px;
      margin-right: 2vw;
      position: relative;


      & img{
        width: 25vw
      }

    }

    & p{
      margin-top: 1vh;
      margin-left: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #000;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0;
}

}


@media only screen and (max-width: 768px) {

  /* スマートフォンの場合のみ適用されるスタイル */

  .playlist{
    button {
      position: static;
      width: 50%;
      height: 40px;

    }
    & ul {
      height: auto;
      display: block;
      margin-top: 2vh;
      
      & li {
        width: 100%;
        margin: 2vh 0;
        display: flex;
        align-items: center;
        position: static; 
        & img{
          width: 40vw;
        }
      }
      & p{
        height: auto;
        width: 100%;
        margin-top: 0;
        margin-left: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}