.title__box{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  border-radius: 30px;
  & h1{
      text-align: center;
      line-height: 140px;
  }
}

.playlist{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}

.playlist img{
  width: 150px;
  margin: 20px;
}

.playlist ul {
  display: flex;
  flex-wrap: nowrap;
}

.playlist li {
  width: 190px;
  height: auto;
  
}