.title__box{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  border-radius: 30px;
  & h1{
      text-align: center;
      line-height: 140px;
  }
}

.playlist{
  background-color: var(--bg-secondary-color);
  height: 350px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;

  & ul {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
  
    & li {
      width: 190px;
      height: auto;
      margin: 0 20px;


      & .playlist__box {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      & img{
        width: 150px;
        margin: 20px;
      }

    }
  }


}
