/* 全体のフォント設定 */
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* これを作業用のCSSの上に貼る */
/* 終わったら消す */
:root {
  --bg-primary-color: #033;
  --bg-secondary-color: #053;
  --bg-tertiary-color: #043;
  --primary-color: #0f0;
  --txt-color: #fff;
  --test-coler: #f00;
}

/* 項目名 */
.main__title {
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}

.main__title p {
  color: var(--txt-color);
}



/* 検索窓 */
/* トラック表示を作成する */
.track-div {
  display: flex;
  /* 横に並べる */
  margin-top: 10px;
  background-color: var(--primary-color);
}

/* 画像を表示するための <img> 要素 */
.album-image {
  width: 40px;
  /* 画像の幅を調整（必要に応じて変更） */
  margin-right: 10px;
}

/* トラック情報を表示する <div> 要素 */
.track-info {
  margin-right: 10px;
}

/* 削除ボタン */
.delete-button {
  cursor: pointer;
}

/* 追加ボタン */
.add-button {
  cursor: pointer;
}

/* 検索入力欄 */
#searchInput {
  margin-bottom: 10px;
}

/* 検索結果のリスト */
#searchResults {
  margin-top: 10px;
}

/* 選択したトラックのリスト */
#selectedTracks {
  margin-top: 10px;
}