/* 全体のフォント設定 */
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}



/* 項目名 */

.main__title h2 {
  color: var(--txt-color);
}

.search_title {
  width: 80%;
  margin: 10px auto;
  justify-content: space-around;
  display: flex;
  color: white;
  border-bottom: 1px solid var(--txt-color);  /* 枠線 */
}

.search_title p{
  width: 35%;
}

/* 検索窓 */

.main__search h2{
  margin: 3% auto;
}

.main__search{
  text-align: center;
}
.search_box{
  background-color: var(--bg-tertiary-color);
  border-radius: 30px;
  border: none;
  width: 80%;
  padding: 2% 6%;
  color: #fff;
}
.main__search input{
  width: 85%;
  height: 50px;
  border: 1px solid var(--standby-color);  /* 枠線 */
}

.main__search input:focus {
  border: 3px solid var(--primary-color);  /* 枠線 */
  outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}

/* 選択済みの曲リスト */
.select_item{margin-top: 50px;}

/* トラック表示を作成する */
.track-div {
  display: flex;
  /* 横に並べる */
  margin-top: 10px;
  width: 90%;
  margin: 2% auto;
  align-items: center;
  background-color: #282828;
  border-radius: 10px;
}

/* 画像を表示するための <img> 要素 */
.album-image {
  width: 7vh;
  display: block;
  border-radius: 10px 0 0 10px;
  /* 画像の幅を調整（必要に応じて変更） */
}


/* トラック情報を表示する <div> 要素 */
.track-info {
  margin-right: 3%;
  display: flex;
  width: 100%;
  align-items: center;
}
.track-name{
  width: 50%;
}
.album-name{
  width: 50%;
}
.artist-name{
  width: 50%;
}

/* 選択済みの曲のindex */
.index-label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  display: none;
}

/* 検索入力欄 */
#searchInput {
  margin-bottom: 10px;
  color: #fff;
}

/* 検索結果のリスト */
#searchResults {
  margin-top: 10px;
  width: 100%;
}

/* 選択したトラックのリスト */
#selectedTracks {
  margin-top: 10px;
}

/* 診断ボタン */

#diagnosisButtonWrap {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 2% auto;
  text-align: right;
}

.diagnosis__button{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid var(--primary-color);  /* 枠線 */
  background-color: var(--primary-color);
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {

  /* スマートフォンの場合のみ適用されるスタイル */
  .album-image{
    height: auto;
    width: 17%;
  }
  .album-name{
    display: none;
  }
  .track-div
  .track-info{
    display: block;
    color: #fff;
    margin-left: 4%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .track-name{
    width: 100%;
    text-align: left;
  }
  .artist-name{
    width: 100%;
    text-align: left;
    color: var(--txt-secondary-color);
    font-size: 14px;
  }
  .search_title{
    display: none;
  }
  .main__title{
    margin-top: 3%;
    padding: 5%;
    border-radius: 10px;
  }
}

.add-button-wrap, .delete-button-wrap{
  margin-right: 3%;
}

.add-button {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
}

.add-button>span {
  width: 52%;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.add-button>span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.delete-button {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
}

.delete-button>span {
  width: 52%;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}