/* 全体のフォント設定 */
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* これを作業用のCSSの上に貼る */
/* 終わったら消す */
:root {
  --bg-primary-color: #033;
  --bg-secondary-color: #053;
  --bg-tertiary-color: #043;
  --primary-color: #0f0;
  --txt-color: #fff;
  --test-coler: #f00;
}

/* 項目名 */
.main__title {
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}

.main__title p {
  color: var(--txt-color);
}



/* 検索窓 */
.main__search{
  text-align: center;
}
.search-box{
  background-color: var(--bg-tertiary-color);
  border-radius: 5px;
  border: none;
  width: 80%;
  padding: 2%;
}
.main__search input{
  width: 80%;
  height: 50px;
  margin: 2% auto;
}

/* トラック表示を作成する */
.track-div {
  display: flex;
  /* 横に並べる */
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
}

.track-div.odd{}

.track-div.even {
  background-color: var(--bg-secondary-color);
  border-radius: 10px;
}

/* 画像を表示するための <img> 要素 */
.album-image {
  width: 7%;
  display: block;
  margin: auto;
  /* 画像の幅を調整（必要に応じて変更） */
  margin-left: 2%;
}


/* トラック情報を表示する <div> 要素 */
.track-info {
  margin-right: 10px;
  display: flex;
  width: 100%;
  align-items: center;
}
.track-name{
  width: 35%;
}
.album-name{
  width: 30%;
}
.artist-name{
  width: 35%;
}

/* 選択済みの曲のindex */
.index-label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

/* 削除ボタン */
.delete-button {
  cursor: pointer;
  width: 8%;
  margin: 4% 1% 4% 1%;
  border-radius: 5px;
}

/* 追加ボタン */
.add-button {
  cursor: pointer;
  width: 8%;
  margin: 4% 1% 4% 1%;
  border-radius:5px;
}

/* 検索入力欄 */
#searchInput {
  margin-bottom: 10px;
}

/* 検索結果のリスト */
#searchResults {
  margin-top: 10px;
  width: 100%;
}

/* 選択したトラックのリスト */
#selectedTracks {
  margin-top: 10px;
}

/* 診断ボタン */
.diagnosis__button__wrap{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.diagnosis__button{
  width: 10%;
  height: 50px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: #000;
  text-align: center;
  font-weight: bold;
}