/* カラーバリエーション */


.status__title {
  background-color: #2589d0;
  margin: 20px 0;
}

.status__title h2 {
  padding: 20px;
  text-align: center;
}

.status__playlist {
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}

.chart__wrap {
  /* background-color: var(--bg-tertiary-color); */
  width: 500px;
  height: 500px;
}

/* #myRadarChart{
  background-color: #fff;
} */

.chart__text__wrap {
  background-color: #242424;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
}

.chart__wrap {
  width: 50%;
  margin: 2%;
}

.chart__text {
  width: 50%;
  margin: 2%;
  padding: 2vw;
  font-weight: bold;

  & h2 {
    font-size: 48px;
    margin-bottom: 1em;
  }

  & p {
    font-size: 16px;
    line-height: 200%;
  }

  & span {
    color: var(--primary-color);
    font-size: 60px;
  }
}

.chart__text__type {
  /* liの見た目をよくする */
  font-size: 20px;
  line-height: 2lh;
  color: var(--txt-color);
  
  & ul {
    margin-left: 2em;
  }

  & li {
    list-style: circle;
  
  }

}

.chart__text__description {
  color: --var(--txt-color);
  margin: 1em;
  /* margin-top: 2em; */
}


.recommend__wrap {
  width: 90%;
  background-color: #242424;
  margin: 2% auto;
  border-radius: 20px;
}

.recommend__title {
  & h2 {
    padding: 20px;
  }
}

.recommend__images__wrap {
  margin: auto;
  display: flex;
  width: 90%;
  padding-bottom: 3%;
  flex-wrap: wrap;


}

.reccomend__musics__wrap {
  width: 200px;
  margin: 10px 2vw 0 0;

}

.track-name {
  color: var(--txt-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.artist-name {
  color: var(--txt-secondary-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
}




@media only screen and (max-width: 768px) {

  /* スマートフォンの場合のみ適用されるスタイル */

  .chart__text__wrap {
    display: block;
    padding: 2%;
  }

  .chart__wrap {
    width: 100%;
    margin: 10px 0 30px 0;
    height: auto;

  }

  .chart__text {
    width: 100%;
    margin: 0;
  }

  .recommend__images__wrap {
    display: block;
    padding: 5%;
  }

  .reccomend__musics__wrap {

    width: 100%;
    margin-bottom: 2vh;

    & img {
      width: 25vw;
    }

    & a {
      display: flex;
    }

    .track-info {
      width: 60%;
      margin-left: 10px;
    }

    .track-name,
    .artist-name {
      margin-top: 1vh;
    }
  }
}