/* カラーバリエーション */
:root {
  --bg-primary-color: #121212;
  --bg-secondary-color: #242424;
  --bg-tertiary-color: #1A1A1A;
  --primary-color: #00FF5C;
  --txt-color: #fff;
}

.status__title{
  background-color: #2589d0;
  margin-bottom: 2%;
}
.status__title h2{padding: 20px;}

.status__playlist{
  background-color: var(--bg-secondary-color);
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 30px;
}
.chart__wrap{
  /* background-color: var(--bg-tertiary-color); */
  width: 500px;
  height: 500px;
}

/* #myRadarChart{
  background-color: #fff;
} */

.chart__text__wrap{
  background-color: #242424;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
}
.chart__wrap{
  width: 50%;
  margin: 2%;
}
.chart__text{
  width: 50%;
  margin: 2%;
  font-weight: bold;
  & h2 {
    font-size: 48px;
    margin-bottom: 5%;
  }
  & p{
    font-size: 16px;
    line-height: 200%;
    & span{
      color: var(--primary-color);
      font-size: 20px;
    }
  }
}

.recommend__wrap{
  width: 90%;
  background-color: #242424;
  margin: 2% auto;
  border-radius: 20px;
}

.recommend__title {
  & h2{
    padding: 20px;
  }
}

.recommend__images__wrap{
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
  & img{
  }
}