<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="utf-8">
		<title>メロタス</title>
		<meta name="description" content="サイトキャプションを入力">
		<meta name="keywords" content="サイトキーワードを,で区切って入力">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap"
			rel="stylesheet">
		<script src="{ static js/index.js }"></script>
	</head>
	

	<body class="top__wrap">
		<div class="top__logo"><img src="{% static './images/logos/logo.svg' %}" alt=""></div>
		<!----- メインコンテンツ ----->
		<main>
			<div class="top__btn__spotify__wrap"><a href="{% url 'social:begin' 'spotify' %}" ><p class="top__btn__spotify">Spotifyで始める</p></a></div>
			<div class="top__btn__guest__wrap"><a href="songs/" ><p class="top__btn__guest">ゲストで始める</p></a></div>
			<!----- フッター ----->
			<footer>フッター</footer>
			<!----- フッター END ----->
		</main>
		<!----- メインコンテンツ END ----->
	</body>

</html>