<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="utf-8">
		<title>メロタス</title>
		<meta name="description" content="サイトキャプションを入力">
		<meta name="keywords" content="サイトキーワードを,で区切って入力">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/songs.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap"
			rel="stylesheet">
		<script src="{% static 'js/songs.js' %}"></script>
	</head>

	<body class="body-wrap">
		<!----- ヘッダー ----->
		<header>
			<div class="header__logo"><a href="/"><img src="{% static 'images/logos/logo.svg' %}" alt="ロゴ画像"></a></div>
			<nav>
				<ul>
					<div class="nav__background nav__top">
						<div class="nav__diagnosis"><img src="{% static 'images/icons/music-note-svgrepo-com.svg' %}" alt=""><h2>楽曲診断</h2></div>
						<li><a href="/songs/"><img src="{% static 'images/icons/list-svgrepo-com.svg' %}" alt=""><p>曲一覧</p></a></li>
						<li><a href="/playlist/"><img src="{% static 'images/icons/playlist-minimalistic-2-svgrepo-com.svg' %}" alt=""><p>プレイリスト</p></a></li>
					</div>
					<div class="nav__background nav__bottom">
						<li><a href="/status/"><img src="{% static 'images/icons/user-svgrepo-com.svg' %}" alt=""><p>ステータス</p></a></li>
					</div>
					<div class="nav__background nav__bottom">
						<li><a href="/help/"><img src="{% static 'images/icons/help-2-svgrepo-com.svg' %}" alt=""><p>ヘルプ</p></a></li>
					</div>
				</ul>
			</nav>
		</header>
		<!----- ヘッダー END ----->
		<!----- メインコンテンツ ----->
		<main>
			<div class="main__header">
				{% if user.is_authenticated %}
				<!-- TODO: ここ、アイコン押したときにログアウトしてるようにしてるからいらなくなったら直す -->
				<a href="{% url 'logout' %}"><div class="header__icon"><img src="{{ user_image }}" alt=""></div></a>
				{% else %}
				<a href="/"><div class="header__icon"><img src="{% static 'images/logos/favicon.png' %}" alt=""></div></a>
				{% endif %}
			</div>
			<div class="main__search">
				<form action="/songs/" class="search-form-011", method="POST">
					{% csrf_token %}
					<button type="submit" aria-label="検索"></button>
					<label>
						<input type="text" placeholder="好きな曲を入力！", name="song_name">
					</label>
				</form>
			</div>
			<div>
				<!-- TODO: form用のテスト -->
				<h2>テスト</h2>
				<p>{{ song_name }}</p>
				<table>
					<tr>
						<th>#</th>
					  	<th>タイトル</th>
					  	<th>アルバム</th>
					  	<th>曲の長さ</th>
					  	<th>選択</th>
					</tr>
					<tr>
						<td>1</td>
						<td class="icon bird">トリさん<br><span class="table__tr__sapn">ado</span></td>
						<td>空を飛ぶこと</td>
						<td>グリーン</td>
						<td>山</td>
					</tr>
					<tr>
						<td>2</td>
						<td class="icon whale">クジラさん<br><span class="table__tr__sapn">ado</span></td>
						<td>潮を吹くこと</td>
						<td>ブルー</td>
						<td>海</td>
					</tr>
					<tr>
						<td>3</td>
						<td class="icon crab">カニさん<br><span class="table__tr__sapn">ado</span></td>
						<td>反復横飛び</td>
						<td>レッド</td>
						<td>川</td>
					</tr>
				</table>
			</div>
			<!----- メインコンテンツ END ----->
	
			<!----- フッター ----->
			<footer>フッター</footer>
			<!----- フッター END ----->
		</main>
	</body>

</html>