* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}


:root {
    --bg-primary-color: #121212;
    --bg-secondary-color: #242424;
    --bg-tertiary-color: #1A1A1A;
    --primary-color: #00FF5C;
    --txt-color: #fff;
}

.top__wrap{
    height: 80vh;
    background-color: var(--bg-primary-color);
}

.top__logo{
    width: 100%;
    margin-top: 20vh;
    & img{
        width: 500px;
        margin: auto;
    }
}

.top__btn__wrap{
    width: 50%;
    margin: 0 auto;
    background-color: #00FF5C;
    & a{
        background-color: #fff;
    }
}

.a{
    text-align: center;
}