/* 全体のフォント設定 */
* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* カラーバリエーション */
:root {
    --bg-primary-color: #121212;
    --bg-secondary-color: #242424;
    --bg-tertiary-color: #1A1A1A;
    --primary-color: #00FF5C;
    --txt-color: #fff;
}

/* メインコンテナ */
main {
    width: 100%;
    min-width: 600px;
    background-color: var(--bg-primary-color);
}

/* ヘッダー */
header {
    width: 250px;
    min-width: 250px;
    margin-left: 16px;
    background-color: var(--bg-secondary-color);
}

/* 画像スタイル */
img {
    width: 100%;
    height: 100%;
}

/* ボディコンテナ */
.body-wrap {
    display: flex;
    width: 100%;
    background-color: var(--bg-primary-color);
}

/* ナビゲーションバックグラウンド */
.nav__background {
    background-color: var(--bg-primary-color);
    margin: 10px;
    border-radius: 10px;

    & li a {
        display: flex;
        color: var(--txt-color);
    }
    & li img {
        width: 30px;
        margin: 10px;
    }
    & li {
        vertical-align: middle;
    }
    & p {
        height: 50px;
        line-height: 50px;
        font-weight: bold;
    }
}

/* トップナビゲーション */
.nav__top a {
    margin-left: 45px;
}

/* ボトムナビゲーション */
.nav__bottom {
    background-color: var(--bg-tertiary-color);

    & a {
        margin-left: 30px;
    }
}

/* 診断ナビゲーション */
.nav__diagnosis {
    display: flex;
    padding-left: 30px;
    background-color: var(--bg-tertiary-color);
    border-radius: 10px 10px 0 0;
    
    & h2 {
        height: 60px;
        line-height: 60px;
        color: var(--primary-color);
    }
    
    & img {
        width: 40px;
        margin: 10px;
    }
}

/* ヘッダーロゴ */
.header__logo {
    width: 200px;
    margin: 30px auto 30px auto;
}

/* ヘッダーアイコン */
.header__icon {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 30px;
}

/* メインヘッダー */
.main__header {
    width: 100%;
    height: 60px;
    background-color: brown;
}
