
/* 検索窓 */

/* .main__content {
    width: 100%;
} */

.search-form-011 {
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid #767d83; */
    border-radius: 24px;
    background-color: #1A1A1A;
    width: 100%;
}

.search-form-011 input {
    width: 650px;
    height: 45px;
    padding: 5px 15px 5px 0;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
    background-color: #1A1A1A;
}

.search-form-011 input::placeholder {
    color: #767d83;
}

.search-form-011 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-011 button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}



/* 曲一覧テーブル */
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
}

table tr{
    /* border-bottom: solid 1px #eee; */
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

table tr:nth-child(even){
  background-color:var(--bg-secondary-color);
}

/* table tr:hover{
  background-color: #d4f0fd;
} */

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
  align-items: center;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(icon-bird.png)
}

table td.icon.whale{
  background-image: url(icon-whale.png)
}

table td.icon.crab{
  background-image: url(icon-crab.png)
}

.table__tr__sapn{
    font-size: 14px;
}