.graph__wrapper {
  display: flex;
  justify-content: space-around; /* グラフ間のスペースを調整します */
  margin: 20px auto; /* 必要に応じてマージンを調整します */
}

.status__graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(#121212 55%, transparent 55%),
                    conic-gradient(#2589d0 39.6%, #25d025 30% 70%, #e2e2e2 39.6% 100%);
  /* 必要な他のスタイルを追加します */
}

.status__title{background-color: #2589d0;}
.status__title h2{padding: 20px;}
